* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
}

header {
  height: 80px;
}

.container {
  width: 90%;
  max-width: 1180px;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.btn {
  font-size: 14px;
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  background-color: white;
  border-radius: 40px;
}

.btn.big {
  font-size: 19px;
  padding: 16px 22px;
}

.btn.black {
  background-color: black;
  color: white;
}

.btn:hover {
  color: cornflowerblue;
}

/* HEADER */
header {
  height: 80px;
  background-color: #3161e0;
  line-height: 80px;
}

/* logo */
.logo, .main-nav {
  float: left;
}

#accedi {
   float: right;
 }

.logo img {
  vertical-align: middle;
}

.main-nav {
  width: calc(100% - 202px);
  text-align: center;
}

/* menu */
.main-nav ul {
  list-style: none;
}

.main-nav ul li {
  padding: 0 15px;
  display: inline-block;
}

.main-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

/* jumbo */

.jumbotron {
  height: 547px;
  background-image: url("../img/jumbo.png");
  background-size: cover;
}

.jumbotron .container {
  max-width: 800px;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.jumbotron h1 {
  font-size: 53px;
  margin-bottom: 40px;
}

.jumbotron p {
  margin-bottom: 40px;
  line-height: 35px;
}

.jumbotron .btn:first-of-type {
  margin-right: 20px;
}

/* MAIN  */
main section {
   padding: 50px 0;
}

section:nth-of-type(2n + 2) {
   background-color: #F6F6F6;
}
/* area testi  */
.clearfix .caption {
   width: 400px;
   display: inline-block;
}

.caption.full-width {
   max-width: 1080px;
   width: 90%;
}

.caption.full-width p, .caption.full-width .title{
   text-align: center;
}

.caption h2 {
   padding: 30px 0;
   font-size: 53px;
}

.caption p {
   line-height: 35px;
}

/* area float  */
.ltr img, .rtl .caption {
   float: left;
}

.rtl img, .ltr .caption {
   float: right;
}

/* immagini  */
.center, .full-width {
   margin: auto;
   display: block;
}

img.center {
   width: 100%;
}